body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-top: 10px;
	margin-bottom: 25px;
}
.rcorners1 {
  border-radius: 25px;
  background: #4CAF50;
  padding: 20px; 
  width: 200px;
  height: 150px;
  margin: 0 auto;
}
.box{ 
	width:100%; 
	height:3px; 
}
.box1{ 
	width:3px; 
	height:100%; 
} 

.red{ 
	background:#f00; 
} 
.green{ 
	background:#0f0; 
} 
.blue{ 
	background:#00f; 
}
.black{
	background:#000;
}


.flex-container {
        display: flex;
        align-items: center; /* Use another value to see the result */
        width: 100%;
        height: 100px;
        background-color: #333;
      }
      .flex-container > div {
		text-align: center;
        padding: 25px 50px 25px 50px;
        width: 30%;
        height: 15px;
		margin: auto;
        border-radius: 25px;
        border: 2px solid #4CAF50;
        background-color: #4CAF50;
      }
	  .flex-container > div > h1 {
      line-height: 0px;
	  }
.flex-container2 {
        display: flex;
        align-items: center; /* Use another value to see the result */
        width: 100%;
        height: 100px;
        background-color: #333;
      }
      .flex-container2 > div {
		text-align: center;
        padding: 25px 50px 25px 50px;
        width: 30%;
        height: 15px;
		margin: auto;
        border-radius: 25px;
        border: 2px solid #4CAF50;
        background-color: #4CAF50;
      }
	  .flex-container2 > div > h1 {
      line-height: 0px;
	  }
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
}


.hero-image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg1.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg2.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
div.left {
  text-align: left;
  float:left;
  width: 50%;
}

div.right {
  float:right;
  width: 50%;
}

div.center {
  text-align: center;
} 
.link {
         display: block;
         border: 1px solid red;
         height: 98px;
     }

.hero-image-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("assets/bg-1.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("assets/social.jpg");
  height: 60%;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("assets/support.jpg");
  height: 60%;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text-1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid white;
}

.hero-text button:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
